$primary-color: #FEDB5C;
$primary-color-light: #ffffff;
$primary-color-dark: #ffc800;
$text-color-cht: #544200;
$text-color-en: #907100;


body {
    margin: 0;
    background-image: url(./img/Me-bg.png);
    background-size: contain;
    background-repeat: repeat-y;

    hr {
        border: 2px solid $primary-color-dark;
    }

    h2,
    li,
    p {
        color: $text-color-cht;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    h3 {
        color: $text-color-en;
        font-family: "Papyrus";
        font-weight: bold;
    }

    ul {
        padding: 0;
    }

    ol {
        padding: 20px;
    }

}


.container {
    border-radius: 50px;
    width: 900px;
    background-color: $primary-color-light;
    margin: auto;


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;
        padding: 40px 0;

        .head {
            width: 200px;
            // 切成圓形
            clip-path: circle(45.8% at 50% 50%);
        }

        .head-name {
            font-size: 32px;
            margin: 5px 0;
            color: $text-color-cht;
        }

        .head-intro {
            font-size: 16px;
            margin: 0 0;
            color: $text-color-cht;
        }
    }

    .container-detail,
    .container-workexp {
        //縮排對齊
        width: 750px;
        margin: auto;
    }

    .container-detail {
        //縮排對齊
        width: 750px;
        margin: auto;

        .profile-area {
            .profile-banner {
                margin-top: 50px;
                display: flex;
                align-items: end;

                h2,
                h3 {
                    //右邊只留空
                    margin: 0 10px 0 0;
                }
            }

            li {
                list-style-type: none;
                line-height: 32px;
            }
        }

        .education-area {
            .edu-banner {
                margin-top: 50px;
                display: flex;
                align-items: end;
                display: flex;
                align-items: end;
            }

            h2,
            h3 {
                //右邊只留空
                margin: 0 10px 0 0;
            }

            li {
                list-style-type: none;
                line-height: 32px;
            }
        }
    }

    .container-skill {
        margin-top: 50px;
        background-color: $primary-color;

        .skill-area {
            width: 750px;
            margin: auto;
            padding: 20px 0;
            text-align: center;

            .skill-banner {
                display: flex;
                justify-content: center;
                align-items: end;

                h2,
                h3 {
                    margin: 0 10px 0 0;
                }
            }

            hr {
                border-color: $primary-color-light;
            }

            li {
                list-style-type: none;
                line-height: 32px;
            }
        }
    }

    .container-workexp {
        width: 750px;
        margin: auto;
        margin-top: 50px;

        .exp-banner {
            display: flex;
            align-items: end;

            h2,
            h3 {
                margin: 0 10px 0 0;
                line-height: 32px;
            }
        }

        h2 {
            margin: 50px 10px 0 0;
            line-height: 32px;
        }

        p {
            margin: 0 10px 0 0;
            line-height: 32px;
        }

        li {
            line-height: 32px;
        }

    }

    .container-portfolio {
        margin-top: 40px;
        background-color: $primary-color;

        .portfolio-area {
            width: 750px;
            margin: auto;
            padding-top: 40px;
            padding-bottom: 50px;

            .portfolio-banner {
                display: flex;
                align-items: end;

                h2,
                h3 {
                    margin: 0 10px 0 0;
                    line-height: 32px;
                }
            }

            hr {
                border-color: $primary-color-light;
            }
        }

        .cards-area {
            display: flex;
            justify-content: space-between;

            .card {
                margin: 20px 0;
                border: 2px solid #544200;
                width: 350px;
                position: relative;

                h4 {
                    font-size: 24px;
                    margin: 10px 20px;
                }

                p {
                    font-size: 16px;
                    margin: 10px 20px 100px 20px;
                }

                .img {
                    background-color: #ffffff;
                    width: 350px;
                    height: 250px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .img1 {
                    background-image: url(./img/result-page/20230517-dessert-shop-v1.png);
                }

                .img2 {
                    background-image: url(./img/result-page/20230517-dessert-shop-v2.png)
                }

                .detail-btn {
                    //按鈕位置
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    //按鈕高寬
                    width: 220px;
                    height: 50px;
                    // 字ㄉ位置 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // 指標 
                    cursor: pointer;
                    // 字型設計 
                    font-size: 20px;
                    color: $primary-color;
                    background-color: $primary-color-light;
                    border: 2px solid $text-color-en;
                    // 行高 
                    line-height: 40px;
                    // 變化速度
                    transition: all .3s linear;

                    p {
                        position: relative;
                        z-index: 1;
                    }

                    &::before {
                        content: "";
                        width: 100%;
                        height: 0%;
                        display: block;
                        //     填滿色塊的顏色
                        background-color: $text-color-cht;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        //     速度
                        transition: all .3s ease;
                    }

                    &:hover {
                        color: $text-color-cht;
                    }

                    &:hover::before {
                        //     填滿的%數
                        height: 20%;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .connect-area {
        display: flex;


        .connect-box {
            width: 300px;
            height: 100px;
            background-color: #fff;
            line-height: 10px;
            margin: 10px;
        }


    }

    .footer-text {
        text-align: center;
    }

    p {
        font-weight: bold;
        font-family: "Papyrus";
        font-size: 24px;
    }

    h3 {
        font-family: "Papyrus";
        font-size: 16px;
    }
}